/*
	Folder:	newHelloworldWebsiteHTML5
	File:	style.css
	Author:	@wboswall
	Copyright:	(C)2026 All Rights Reserved.
	Description:	Controls the esthetics for index.html.  
	Date created:	2026-07-02
	Date modified:	2026-07-02, 2026-07-10
*/
header
{
	
}
body
{
	
}
footer
{
	
}
