/*
	Folder:	newHelloworldWebsiteHTML5
	File:	style.css
	Author:	@wboswall
	Copyright:	(C)2026 All Rights Reserved.
	Description:	Controls the esthetics for index.html.  
	Date Created:	2026-07-02
	Date Modified:	2026-07-02
*/
header
{
	
}
body
{
	
}
footer
{
	
}
